.timeline-row {
  width: fit-content;
  position: relative;
  min-height: 40px;

  &:nth-child(even) {
    background: #ededed;
  }

  .timeline-row-filter {
    width: 100px;
    min-height: 40px !important;
    position: fixed;
    z-index: 2;
    background: #fff;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
  }

  .timeline-row-cells {
    display: flex;
    margin-left: 100px;
    height: inherit;
    .timeline-row-cell {
      width: 40px;
      min-height: 40px;
      height: inherit;
      border: 1px darkgrey solid;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }

  .events {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .timeline-event {
      background-color: lightblue;
      left: 0;
      overflow: hidden;
      height: 20px;
      margin: 10px 0;
    }
  }
}
