.timeline-month {
  display: inline-table;
  white-space: nowrap;
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
  position: relative;

  &:nth-child(even)::after {
    content: ''; // ::before and ::after both require content
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fffec9;
    opacity: 0.2;
  }

  &:nth-child(even) {
    background: chartreuse;
  }

  .timeline-month-header {
    background: coral;
    color: #fff;
  }
}
